body {
/*background-color: #010314;*/
}

.header_logo{
  position: absolute;
  width: 400px;
  height: 300px;
  left: 520px;
  top: 0px;
}

input{
  float: right;
  position: right;
  top: 212px;
  background: white;
  border: 2xp solid color: yellow;
  border-radius: 30px;
  padding: 10px;
  margin-top: 150px;
  font-family: kurale;
  margin: none;
  margin-right: 25px;
  background: none;
  color: #D8C6AF;
}

header{
background: url(Header.jpg);
background-size: cover;

width: 100%;
height: 150px;
left: 0px;
top: 0px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.body_p{
  display: inline-block;
  
  font-size: 16px;
  color: #D8C6AF;
  
  margin-left: 20px;
  padding-top: 70px;
}

.seccion_menu{
display: flex;
 
}

body {
  margin:0;
  overflow-x:hidden;
  background-color:black;
  font-family:Helvetica,Sans-serif;
  display: block;
}


#page.scrolling .item{
  transform: perspective(100rem) translateY(-1rem) scaleX(.95) rotateX(-60deg);
}
.item {
  display:flex;
  width: 100%;
  height: 220px;
  align-items: flex-end;
  font-weight: bolder;
  
  color:#FFF;
  transition:all .2s;
  
  cursor:pointer;
  font-size:140%;
}
.name{
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.item div {
  flex:1 1 50%;
  display: flex;
  align-items:center;
  justify-content:center;
}
.item:hover {
  transform: scale(1.1);
  box-shadow:0 -1px 18px #333;
  z-index:1;
}

/* colors */
.item:nth-child(7n+1) {
  background-color:#6DB465;
  background-image: url(hpalll.jpg);   background-size: cover;
  object-fit: cover;
}
.item:nth-child(7n+2) {
  background-color:#6DB465;
  background-image: url(girlshp.jpg); background-size: cover;
  object-fit: cover;
}
.item:nth-child(7n+3) {
  background-color:#F2C14E;
  background-image: url(hpmen.jpg); background-size: cover;
  object-fit: cover;
}
.item:nth-child(7n+4) {
  background-color:#F78154;
  background-image: url(hpg.jpg); background-size: cover;
  object-fit: cover;
}
.item:nth-child(7n+5) {
  background-color:#C87694;
  background-image: url(hpr.jpg); background-size: cover; 
  object-fit: cover;
}
.item:nth-child(7n+6) {
  background-color:#6DB465;
  background-image: url(hph.jpg); background-size: cover; 
  object-fit: cover;
}
.item:nth-child(7n+7) {
  background-color:#F2C14E;
  background-image: url(hpl.jpg); background-size: cover; 
  
}

.hide {
  display: none !important;
}

/*footer {
  position: relative;
    */
}
footer img{
  display: inline-block;
  height: 50px;
  width: 50px;
}


.footer_band{
  width: 100%;
  height: 15%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCFFFF;
  margin-top:2%;
  font-family: 'Patrick Hand', cursive;
  font-style: normal;
  font-size: 5em;
 
}
.container{
  display:flex;
  width: 96%;
  margin:auto;
  padding: 8%;
   
}

.cards {
  display: inline-block;
  margin-right;: 5% ;
}
.cards:hover{
  transform: scale(1.2);
  margin-bottom: 5%;
  cursor: pointer;
  }

.hp-image{
  margin:0%;
  display: inherit;
  flex-flow: column nowrap;
  width: 165px;
  height: 220px;
  border: 5px solid black;
  margin-right;: 5% ;
  
}
.hp-name{
  
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 5px;
  border: 10px solid black;
  background-color: black;
  margin-right: 5% ;
  margin-bottom: 5% ;
  
}

/*.hp-name{
  max-width: 800px;
  font-size: 16px;
  color: #D8C6AF;
  float:left;
  margin-top: 10px;
  margin-left: 20px;
}

*/
#root{
  display: auto;

}
.titles{
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 50px;
  color: white;
  text-align: center;
  text-align: center;
  
  }
